* {
    margin: 0%;
    padding: 0%;
}

body {
    color: black;
    background-color: burlywood ;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 40px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 300px 100vw;      /*revisar*/
    gap: 10px;
}

.titulo{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/4;
    grid-row: 1/2;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1/3;
    grid-row: 2/3;    
    gap: 20px;
    p{
        font-size: 20px; 
    }
    div{
        display: flex;
        flex-direction: row;
        gap: 50px;
    }   
}

.casillas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-column: 3/4;
    grid-row: 2/3;    
}

.lista_funciones{
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-top: 50px;
    gap: 200px;
    grid-column: 1/2;
    grid-row: 3/4;
    div{
        font-size: 20px; 
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

.analisis{
    background-color: beige;
    padding-top: 25px;
    grid-column: 2/4;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content:top;
    align-items: center;
    gap: 5px;
    div{
        font-size: 18px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
